/*Top.tsx*/
.topBody {
  background: url("../../images/top-building.jpg") no-repeat fixed left bottom;
  background-size: cover;
  height: 100vh;
}
.topWrap {
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  margin: auto;
}
.topWelcom,
.topTo,
.topKenji,
.topPortfolio {
  font-family: "Georgia";
}
.topWelcom {
}

.topTo {
}

.topKenji {
}

.topPortfolio {
}

@media screen and (min-width: 0) and (max-width: 414px) {
  .topBody {
    overflow: hidden;
  }

  .topWrap {
    position: relative;
    top: 17vh;
    width: 87vw;
    height: auto;
    padding-top: 3vh;
    animation: topWrapSlide 2s 4s forwards;
    padding-bottom: 3vh;
  }

  .topWelcom,
  .topTo,
  .topKenji,
  .topPortfolio {
    font-size: 10vw;
    font-family: "Georgia";
    margin-bottom: 5vw;
  }

  .topWelcom {
    transform: translateY(-30vh);
    animation: topWelcomSlide 0.5s 2s forwards, topWelcomScale 1s 2.5s;
  }

  .topTo {
    transform: translateX(-50vh);
    animation: topToSlide 0.5s 2.5s forwards, topToScale 1s 3s;
  }

  .topKenji {
    transform: translateX(60vh);
    animation: topKenjiSlide 0.5s 3s forwards, topKenjiScale 1s 3.5s;
  }

  .topPortfolio {
    transform: translateY(70vh);
    animation: topPortfolioSlide 0.5s 3.5s forwards, topPortfolioScale 1s 4s;
  }

  @keyframes topWelcomSlide {
    0% {
      transform: translateY(-30vh);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes topToSlide {
    0% {
      transform: translateX(-50vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topKenjiSlide {
    0% {
      transform: translateX(50vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topPortfolioSlide {
    0% {
      transform: translateY(70vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topWrapSlide {
    0% {
    }
    100% {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }

  @keyframes topWelcomScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topToScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topKenjiScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topPortfolioScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
}

@media screen and (min-width: 415px) and (max-width: 650px) {
  .topBody {
    animation: topBodyOverflow 4s forwards;
  }

  .topWrap {
    position: relative;
    top: 17vh;
    width: 87vw;
    height: auto;
    padding-top: 3vh;
    animation: topWrapSlide 2s 4s forwards;
    padding-bottom: 3vh;
  }

  .topWelcom,
  .topTo,
  .topKenji,
  .topPortfolio {
    font-size: 10vw;
    font-family: "Georgia";
    margin-bottom: 5vw;
  }

  .topWelcom {
    transform: translateY(-30vh);
    animation: topWelcomSlide 0.5s 2s forwards, topWelcomScale 1s 2.5s;
  }

  .topTo {
    transform: translateX(-50vh);
    animation: topToSlide 0.5s 2.5s forwards, topToScale 1s 3s;
  }

  .topKenji {
    transform: translateX(60vh);
    animation: topKenjiSlide 0.5s 3s forwards, topKenjiScale 1s 3.5s;
  }

  .topPortfolio {
    transform: translateY(70vh);
    animation: topPortfolioSlide 0.5s 3.5s forwards, topPortfolioScale 1s 4s;
  }

  @keyframes topBodyOverflow {
    0% {
      overflow: hidden;
    }
    99% {
      overflow: hidden;
    }
    100% {
      overflow-y: visible;
    }
  }

  @keyframes topWelcomSlide {
    0% {
      transform: translateY(-30vh);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes topToSlide {
    0% {
      transform: translateX(-50vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topKenjiSlide {
    0% {
      transform: translateX(50vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topPortfolioSlide {
    0% {
      transform: translateY(70vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topWrapSlide {
    0% {
    }
    100% {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }

  @keyframes topWelcomScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topToScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topKenjiScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topPortfolioScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
}

@media screen and (min-width: 651px) {
  .topBody {
    animation: topBodyOverflow 4s forwards;
  }

  .topWrap {
    position: relative;
    top: 10vh;
    width: 60vw;
    height: auto;
    padding-top: 3vh;
    animation: topWrapSlide 2s 4s forwards;
    padding-bottom: 5vh;
  }

  .topWelcom,
  .topTo,
  .topKenji,
  .topPortfolio {
    font-size: 5vw;
    font-family: "Georgia";
    margin-bottom: 3vw;
  }

  .topWelcom {
    transform: translateY(-30vh);
    animation: topWelcomSlide 0.5s 2s forwards, topWelcomScale 1s 2.5s;
  }

  .topTo {
    transform: translateX(-100vw);
    animation: topToSlide 0.5s 2.5s forwards, topToScale 1s 3s;
  }

  .topKenji {
    transform: translateX(100vw);
    animation: topKenjiSlide 0.5s 3s forwards, topKenjiScale 1s 3.5s;
  }

  .topPortfolio {
    transform: translateY(70vh);
    animation: topPortfolioSlide 0.5s 3.5s forwards, topPortfolioScale 1s 4s;
  }

  @keyframes topBodyOverflow {
    0% {
      overflow: hidden;
    }
    99% {
      overflow: hidden;
    }
    100% {
      overflow-y: visible;
    }
  }

  @keyframes topWelcomSlide {
    0% {
      transform: translateY(-30vh);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes topToSlide {
    0% {
      transform: translateX(-50vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topKenjiSlide {
    0% {
      transform: translateX(50vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topPortfolioSlide {
    0% {
      transform: translateY(70vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topWrapSlide {
    0% {
    }
    100% {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }

  @keyframes topWelcomScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topToScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topKenjiScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topPortfolioScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
}

/* About.tsx */
.aboutImage {
  background: url("../../images/senro.jpg") no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  animation: backImageAppear 2s 3s forwards;
  opacity: 0;
}

/* Skill.tsx */
.skillImage {
  background: url("../../images/syasin1.jpg") no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  animation: backImageAppear 2s 3s forwards;
  opacity: 0;
}

/* Portfolio.tsx */
.portfolioImage {
  background: url("../../images/syasin2.jpg") no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  animation: backImageAppear 2s 3s forwards;
  opacity: 0;
}
