/*Top.tsx*/
.topBody {
  background: url("../../images/top-building.jpg") no-repeat fixed left bottom;
  background-size: cover;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.topWrap {
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  margin: auto;
}
.topWelcom,
.topTo,
.topKenji,
.topPortfolio {
  font-family: "Georgia";
}

@media screen and (min-width: 0) and (max-width: 414px) {
  .topOver {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .topBody {
    overflow: hidden;
    opacity: 0;
    animation: topImgOpacity 5s 2s forwards;
  }

  .topWrap {
    position: relative;
    top: 17vh;
    width: 87vw;
    height: auto;
    padding-top: 3vh;
    animation: topWrapSlide 2s 2s forwards;
    padding-bottom: 3vh;
  }

  .topWelcom,
  .topTo,
  .topKenji,
  .topPortfolio {
    font-size: 10vw;
    font-family: "Georgia";
    margin-bottom: 5vw;
  }

  .topWelcom {
    transform: translateY(-30vh);
    animation: topWelcomSlide 0.5s forwards, topWelcomScale 1s 0.5s;
  }

  .topTo {
    transform: translateX(-50vh);
    animation: topToSlide 0.5s 0.5s forwards, topToScale 1s 1s;
  }

  .topKenji {
    transform: translateX(60vh);
    animation: topKenjiSlide 0.5s 1s forwards, topKenjiScale 1s 1.5s;
  }

  .topPortfolio {
    transform: translateY(70vh);
    animation: topPortfolioSlide 0.5s 1.5s forwards, topPortfolioScale 1s 2s;
  }

  @keyframes topImgOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes topWelcomSlide {
    0% {
      transform: translateY(-30vh);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes topToSlide {
    0% {
      transform: translateX(-50vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topKenjiSlide {
    0% {
      transform: translateX(50vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topPortfolioSlide {
    0% {
      transform: translateY(70vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topWrapSlide {
    0% {
    }
    100% {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }

  @keyframes topWelcomScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topToScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topKenjiScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topPortfolioScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
}

@media screen and (min-width: 415px) and (max-width: 650px) {
  .topOver {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: topBodyOverflow 2s forwards;
  }
  .topBody {
    opacity: 0;
    animation: topBodyOverflow 2s forwards, topImgOpacity 5s 2s forwards;
  }

  .topWrap {
    position: relative;
    top: 17vh;
    width: 87vw;
    height: auto;
    padding-top: 3vh;
    animation: topWrapSlide 2s 2s forwards;
    padding-bottom: 3vh;
  }

  .topWelcom,
  .topTo,
  .topKenji,
  .topPortfolio {
    font-size: 10vw;
    font-family: "Georgia";
    margin-bottom: 5vw;
  }

  .topWelcom {
    transform: translateY(-30vh);
    animation: topWelcomSlide 0.5s forwards, topWelcomScale 1s 0.5s;
  }

  .topTo {
    transform: translateX(-50vh);
    animation: topToSlide 0.5s 0.5s forwards, topToScale 1s 1s;
  }

  .topKenji {
    transform: translateX(60vh);
    animation: topKenjiSlide 0.5s 1s forwards, topKenjiScale 1s 1.5s;
  }

  .topPortfolio {
    transform: translateY(70vh);
    animation: topPortfolioSlide 0.5s 1.5s forwards, topPortfolioScale 1s 2s;
  }

  @keyframes topImgOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes topBodyOverflow {
    0% {
      overflow: hidden;
    }
    99% {
      overflow: hidden;
    }
    100% {
      overflow-y: visible;
    }
  }

  @keyframes topWelcomSlide {
    0% {
      transform: translateY(-30vh);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes topToSlide {
    0% {
      transform: translateX(-50vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topKenjiSlide {
    0% {
      transform: translateX(50vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topPortfolioSlide {
    0% {
      transform: translateY(70vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topWrapSlide {
    0% {
    }
    100% {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }

  @keyframes topWelcomScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topToScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topKenjiScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topPortfolioScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
}

@media screen and (min-width: 651px) {
  .topOver {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: topBodyOverflow 2s forwards;
  }

  .topBody {
    animation: topBodyOverflow 2s forwards, topImgOpacity 5s 2s forwards;
    opacity: 0;
  }

  .topWrap {
    position: relative;
    top: 10vh;
    width: 60vw;
    height: auto;
    padding-top: 3vh;
    animation: topWrapSlide 2s 2s forwards;
    padding-bottom: 5vh;
  }

  .topWelcom,
  .topTo,
  .topKenji,
  .topPortfolio {
    font-size: 5vw;
    font-family: "Georgia";
    margin-bottom: 3vw;
  }

  .topWelcom {
    transform: translateY(-30vh);
    animation: topWelcomSlide 0.5s forwards, topWelcomScale 1s 0.5s;
  }

  .topTo {
    transform: translateX(-100vw);
    animation: topToSlide 0.5s 0.5s forwards, topToScale 1s 1s;
  }

  .topKenji {
    transform: translateX(100vw);
    animation: topKenjiSlide 0.5s 1s forwards, topKenjiScale 1s 1.5s;
  }

  .topPortfolio {
    transform: translateY(70vh);
    animation: topPortfolioSlide 0.5s 1.5s forwards, topPortfolioScale 1s 2s;
  }

  @keyframes topImgOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes topBodyOverflow {
    0% {
      overflow: hidden;
    }
    99% {
      overflow: hidden;
    }
    100% {
      overflow-y: visible;
    }
  }

  @keyframes topWelcomSlide {
    0% {
      transform: translateY(-30vh);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes topToSlide {
    0% {
      transform: translateX(-50vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topKenjiSlide {
    0% {
      transform: translateX(50vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topPortfolioSlide {
    0% {
      transform: translateY(70vh);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes topWrapSlide {
    0% {
    }
    100% {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }

  @keyframes topWelcomScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topToScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topKenjiScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes topPortfolioScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
}

/* About.tsx */
@media screen and (min-width: 0) and (max-width: 800px) {
  .aboutImage {
    background: url("../../images/senro.jpg") no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    animation: backImageAppear 2s 2s forwards;
    opacity: 0;
    z-index: 1;
  }

  .aboutWrap {
    position: relative;
    z-index: 2;
    margin-top: 100px;
    padding: 0 20px;
    overflow-x: hidden;
  }

  .aboutIntro {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    transform: translateX(-120vw);
    animation: allSlide 1s forwards;
  }

  .aboutMyImage {
    width: 40vw;
    height: 60vw;
    margin: 0 auto;
    display: block;
  }

  .aboutIntro h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
  }

  .aboutWrap p {
    margin: auto;
    margin-bottom: 5px;
    padding: 0 5px 0 20px;
  }

  .aboutGitFormWrap {
    color: white;
  }

  .aboutGithubWrap {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    padding: 20px;
    animation: allSlide 1s forwards;
    transform: translateX(-120vw);
    text-align: center;
  }
  .aboutGithubImg {
    width: 70vw;
    height: 20vw;
  }

  .aboutGithubWrap h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .aboutGithubWrap p {
    text-align: center;
    margin-bottom: 10px;
  }
  .aboutGithubWrap a {
    text-decoration: none;
    color: white;
  }

  .aboutGithubWrap p:hover {
    opacity: 0.5;
    transition: 0.3s;
  }

  .aboutFormWrap {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    color: white;
    padding: 20px;
    animation: allSlide 1s forwards;
    transform: translateX(-120vw);
  }
  .aboutFormWrap h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }

  .aboutFormWrap label {
    display: block;
    margin-bottom: 20px;
  }

  .aboutFormWrap input {
    display: inline-block;
  }

  .aboutFormWrap .aboutName {
    padding: 3px;
    width: 50vw;
  }

  .aboutFormWrap .aboutMail {
    width: 60vw;
    padding: 3px;
  }

  .aboutFormWrap .aboutQue {
    width: 70vw;
    height: 20vw;
    padding: 3px;
  }

  .aboutFormWrap button {
    margin-left: 45%;
    width: 50px;
    border: none;
    padding: 5px;
    border-radius: 50vh;
    background-color: orange;
    font-weight: bold;
  }

  .aboutFormWrap button:hover {
    transform: scale(1.3);
    transition: 0.3s;
    cursor: pointer;
  }

  .aboutMessage {
    position: relative;
    height: 1000px;
    z-index: 2;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 30px;
    animation: allSlide 1s forwards;
    transform: translateX(-120vw);
    margin: 100px 20px;
  }

  .aboutMessage h2 {
    font-size: 35px;
    font-weight: bold;
  }

  .aboutMessage p {
    margin-top: 60px;
    font-size: 20vw;
  }
}

@media screen and (min-width: 801px) {
  .aboutImage {
    background: url("../../images/senro.jpg") no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    animation: backImageAppear 2s 3s forwards;
    opacity: 0;
    z-index: 1;
  }

  .aboutAllWrap {
    overflow-x: hidden;
    margin-top: 130px;
  }

  .aboutWrap {
    position: relative;
    display: flex;
    z-index: 2;
    justify-content: space-around;
    padding: 0 20px;
    overflow-x: hidden;
  }
  .aboutIntro h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
  }

  .aboutWrap p {
    padding-left: 100px;
    padding-bottom: 5px;
  }

  .aboutIntro {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    animation: introSlide 1s;
  }

  .aboutMyImage {
    width: 15vw;
    height: 22vw;
    margin: 0 auto;
    display: block;
  }

  .aboutGitFormWrap {
    margin-left: 30px;
    color: white;
  }

  .aboutGithubWrap {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    animation: rightSlide 1s 1s forwards;
    transform: translateX(70vw);
  }

  .aboutGithubWrap h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
  }
  .aboutGithubWrap p {
    margin-left: 10vw;
    margin-bottom: 10px;
  }
  .aboutGithubWrap a {
    text-decoration: none;
    color: white;
  }

  .aboutGithubWrap p:hover {
    opacity: 0.5;
    transition: 0.3s;
  }

  .aboutGithubImg {
    width: 50vw;
    height: 10vw;
  }

  .aboutFormWrap {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    color: white;
    padding: 20px;
    transform: translateX(70vw);
    animation: rightSlide 1s 2s forwards;
  }
  .aboutFormWrap h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
  }

  .aboutFormWrap label {
    display: block;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  .aboutFormWrap input {
    display: inline-block;
  }

  .aboutFormWrap .aboutName {
    margin-left: 80px;
    padding: 3px;
    margin-left: 100px;
  }

  .aboutFormWrap .aboutMail {
    width: 200px;
    padding: 3px;
    margin-left: 100px;
  }

  .aboutFormWrap .aboutQue {
    width: 400px;
    height: 70px;
    padding: 3px;
    margin-left: 100px;
  }

  .aboutFormWrap button {
    margin-left: 45%;
    width: 50px;
    border: none;
    padding: 5px;
    border-radius: 50vh;
    background-color: orange;
    font-weight: bold;
  }

  .aboutFormWrap button:hover {
    transform: scale(1.3);
    transition: 0.3s;
    cursor: pointer;
  }

  .aboutMessage {
    position: relative;
    height: 1000px;
    z-index: 2;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
    font-size: 35;
    transform: translateX(120vw);
    animation: messageSlide 1s 2s forwards;
  }

  .aboutMessage h2 {
    font-size: 35px;
    font-weight: bold;
  }

  .aboutMessage p {
    margin-top: 60px;
    font-size: 100px;
  }

  @keyframes introSlide {
    0% {
      transform: translateX(-40vw);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes rightSlide {
    0% {
      transform: translateX(70vw);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes messageSlide {
    0% {
      transform: translateX(120vw);
    }
    100% {
      transform: translateX(0);
    }
  }
}
/* Skill.tsx */
@media screen and (min-width: 0) and (max-width: 920px) {
  .skillImage {
    background: url("../../images/tec.jpg") no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    animation: backImageAppear 2s 2s forwards;
    opacity: 0;
    z-index: 1;
  }
  .skillWrap {
    position: relative;
    z-index: 2;
    font-size: 20px;
    margin-top: 100px;
  }

  .skillLeftWrap > div {
    width: 300px;
    background-color: rgba(236, 240, 30, 0.5);
    padding: 50px 20px 10px 20px;
    text-align: center;
    margin-bottom: 30px;
    height: 450px;
    animation: allSlide 1s;
    margin: 30px auto;
  }
  .skillLeftWrap > div > div {
    height: 270px;
  }

  .skillRightWrap > div {
    width: 300px;
    background-color: rgba(236, 240, 30, 0.5);
    padding: 50px 20px 10px 20px;
    text-align: center;
    margin-bottom: 30px;
    height: 450px;
    animation: allSlide 3s;
    margin: 40px auto;
  }
  .skillRightWrap > div > div {
    height: 270px;
  }
  .skillLeftWrap p {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }

  .skillRightWrap p {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  .skillHtml {
    width: 170px;
  }

  .skillCss {
    width: 170px;
  }
  .skillJava {
    width: 200px;
  }
  .skillReact {
    width: 250px;
  }
  .skillType {
    width: 220px;
  }
  .skillRuby {
    width: 200px;
  }

  .skillRails {
    width: 300px;
  }
  .skillPython {
    width: 200px;
  }
  @keyframes allSlide {
    0% {
      transform: translateX(-120vw);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media screen and (min-width: 920px) {
  .skillImage {
    background: url("../../images/tec.jpg") no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    animation: backImageAppear 2s 3s forwards;
    opacity: 0;
    z-index: 1;
  }
  .skillWrap {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-top: 130px;
  }

  .skillLeftWrap > div {
    width: 400px;
    background-color: rgba(236, 240, 30, 0.5);
    padding: 50px 20px 10px 20px;
    text-align: center;
    margin-bottom: 30px;
    height: 450px;
    animation: skillLeftSlide 3s;
  }
  .skillLeftWrap > div > div {
    height: 270px;
  }

  .skillRightWrap > div {
    width: 400px;
    background-color: rgba(104, 235, 64, 0.5);
    padding: 50px 20px 10px 20px;
    text-align: center;
    margin-bottom: 30px;
    height: 450px;
    animation: skillRightSlide 3s;
  }
  .skillRightWrap > div > div {
    height: 270px;
  }
  .skillLeftWrap p {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }

  .skillRightWrap p {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  .skillHtml {
    width: 170px;
  }

  .skillCss {
    width: 170px;
  }
  .skillJava {
    width: 200px;
  }
  .skillReact {
    width: 250px;
  }
  .skillType {
    width: 220px;
  }
  .skillRuby {
    width: 200px;
  }

  .skillRails {
    width: 300px;
  }
  .skillPython {
    width: 200px;
  }

  @keyframes skillLeftSlide {
    0% {
      transform: translateX(-50vw);
    }
    50% {
      transform: translateX(50vw);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes skillRightSlide {
    0% {
      transform: translateX(50vw);
    }
    50% {
      transform: translateX(-50vw);
    }
    100% {
      transform: translateX(0);
    }
  }
}
/* Portfolio.tsx */
.portfolioImage {
  background: url("../../images/utyu.jpg") no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  animation: backImageAppear 2s 1s forwards;
}
.portWrap {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: 250px;
}
.portWrap p {
  font-size: 5vw;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px 0;
}
/* 全体へのアニメーション*/
@keyframes backImageAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes allSlide {
  0% {
    transform: translateX(-120vw);
  }
  100% {
    transform: translateX(0);
  }
}
