/* Header.tsx */
.headerWrap {
  display: flex;
  background: blueviolet;
  position: relative;
}

.headerTitle {
  font-weight: bold;
}

.HeaderMenuButton {
  color: aqua;
}

@media screen and (min-width: 0) and (max-width: 650px) {
  .headerWrap {
    padding-right: 2vw;
    height: 15vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  .headerTitle {
    font-size: 6vw;
    letter-spacing: 5px;
    padding-top: 3vw;
    width: 100%;
    text-align: center;
  }

  .HeaderMenuButton {
    color: aqua;
    position: absolute;
    right: 5vw;
    top: 2vw;
    padding-top: 3vw;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
  }

  .HeaderMenuButton:active .HeaderMenuIcon {
    animation: rotate 0.7s ease-out;
  }

  .HeaderMenuButton:hover {
    opacity: 0.5;
  }

  .HeaderMenuIcon {
    font-size: 9vw;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
