/* Header.tsx */
@media screen and (min-width: 0) and (max-width: 550px) {
  .headerWrap {
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    padding-right: 2vw;
    height: 15vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
  }

  .headerTitle {
    font-size: 6vw;
    letter-spacing: 5px;
    padding-top: 3vw;
    width: 100%;
    text-align: center;
    font-weight: bold;
    opacity: 0.5;
  }

  .HeaderMenuButton {
    color: aqua;
    position: absolute;
    right: 5vw;
    top: 2vw;
    padding-top: 3vw;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
  }

  .HeaderMenuButton:active .HeaderMenuIcon {
    animation: rotate 0.7s ease-out;
  }

  .HeaderMenuButton:hover {
    opacity: 0.5;
  }

  .HeaderMenuIcon {
    font-size: 9vw;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

@media screen and (min-width: 550px) {
  .headerWrap {
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    height: 6vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
  }

  .headerTitle {
    font-size: 3vw;
    letter-spacing: 1vw;
    padding-top: 1vw;
    width: 100%;
    text-align: center;
    font-weight: bold;
    opacity: 0.5;
  }

  .HeaderMenuButton {
    color: aqua;
    position: absolute;
    right: 5vw;
    top: 0.5vw;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
  }

  .HeaderMenuButton:active .HeaderMenuIcon {
    animation: rotate 0.7s ease-out;
  }

  .HeaderMenuButton:hover {
    opacity: 0.5;
  }

  .HeaderMenuIcon {
    font-size: 4vw;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
