/* Header.tsx */
.headerWrap {
  display: flex;
  background: blueviolet;
}

.headerTitle {
  margin-left: 36%;
  font-weight: bold;
}

.headerDehazeIcon {
  color: aqua;
  margin-left: auto;
}

@media screen and (min-width: 0) and (max-width: 650px) {
  .headerWrap {
    padding-right: 2vw;
    height: 15vw;
  }

  .headerTitle {
    font-size: 6vw;
    letter-spacing: 5px;
    padding-top: 3vw;
  }

  .headerDehazeIcon {
    color: aqua;
    margin-left: auto;
    padding-top: 4vw;
    font-size: 100px;
  }
}
